<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chi tiết sách</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style2.css" />
</head>
<body>
    <div style="background-color:rgb(240, 240, 240)">
        <!-- Cửa sổ tiêu đề -->
        <div id="CUA_SO_TIEU_DE">
            <h1>CHI TIẾT SÁCH</h1>
        </div>

        <div class="d-flex flex-row" id="CUA_SO_HIEN_THI_THONG_TIN">
            <!-- Hình ảnh và nút xem trước nội dung sách -->
            <div id="CUA_SO_HINH">
            <div style="height:440px;">
                    <img id="ANH_SACH" src="/static/imgs/category/books/<%= data.Sach.image_sach_url%>"/>
            </div>
            <button id="NUT_XEM_THU" class="btn btn-success" style="margin-left:250px;">Đọc thử</button>
            </div>
            <!-- Thông tin sách -->
            <div id="THONG_TIN_SACH">
                <div>
                    <!-- Tên sách -->
                    <div class="d-flex flex-row" style="heiht: 300px">
                        <p id="Tieu_de_ten_sach">Tên sách: </p>
                        <p id="TEN_SACH">
                            <%= data.Sach.ten_sach%>
                        </p>
                    </div>
                    <!-- Tác giả -->
                    <div class="d-flex flex-row">
                        <p class="Chitiet">Tác giả: </p>
                        <p id="TAC_GIA" class="Chitiet">
                            <%= data.tacgia.ten_tac_gia%>
                        </p>
                    </div>
                    <hr>
                    <!-- Giá -->
                    <div class="d-flex flex-row">
                            <p class="Chitiet">Giá: </p>
                            <p id="GIA" class="Chitiet">
                                <%= data.Sach.gia%> (Khuyến mãi <%= data.Sach.khuyen_mai%>%)
                            </p>
                        </div>
                    <hr>
                    <!-- Năm xuất bản -->
                    <div class="d-flex flex-row">
                        <p class="Chitiet">Năm xuất bản: </p>
                        <p id="NAM_XUAT_BAN" class="Chitiet">
                            <%= data.Sach.nam_xuat_ban%>
                        </p>
                    </div>
                    <!-- Thể loại -->
                    <div class="d-flex flex-row">
                        <p class="Chitiet">Thể loại: </p>
                        <p id="THE_LOAI" class="Chitiet">
                            <%= data.theloai.ten_the_loai%>
                        </p>
                    </div>
                    <!-- Nhà xuất bản -->
                    <div class="d-flex flex-row">
                        <p class="Chitiet">Nhà xuất bản: </p>
                        <p id="NHA_XUAT_BAN" class="Chitiet">
                            <%= data.Sach.nha_xuat_ban%>
                        </p>
                    </div>
                    <hr/>                    
                    <button id="NUT_THEM_GIO_HANG" class="btn btn-success" style="background-color:rgb(224, 82, 39); margin-left:250px;margin-bottom: 10px">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <hr/>
        <p class="Chitiet">Các sách cùng thể loại</p>
        <div class="row" style="background-color:white; margin:20px">
             <%for(var i = 0; i < data.sachcungtheloai.length; i++){%>
                <%if(data.sachcungtheloai[i].id_sach != data.Sach.id_sach){%>
                <div class="col-md-3">
                    <a href="<%= data.sachcungtheloai[i].id_sach%>">
                        <img src="/static/imgs/category/books/<%= data.sachcungtheloai[i].image_sach_url%>"
                        style="height: 250px; margin-top: 10px" href="/Sach/data.sachcungtheloai[i].id_sach"/>
                    </a>
                    <div>
                        <a id="linkSach" href="<%= data.sachcungtheloai[i].id_sach%>">
                            <%= data.sachcungtheloai[i].ten_sach%>
                        </a>
                    </div>
                </div>
                <%}%>
            <%}%>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>