<h2 class="title text-center">Sản phẩm</h2>
<% items.forEach(function(item){%>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center" id="<%= item.id_sach%>">
                    <img src="static/imgs/category/books/<%=item.image_sach_url%>" alt="" />
                    <h2><%= item.gia%></h2>
                    <p><%= item.ten_sach%></p>
                    <p><%= item.so_luong_ton%></p>
                    
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2><%= item.gia%></h2>
                        <p><%= item.ten_sach%></p>
                        <p><%= item.so_luong_ton%></p>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
             </div>
        </div>
    </div>
<%});%>

